body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 192, 0);
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding-top: 2rem;
    background-color: whitesmoke;
}

.contrainer {
    display: flex;
    flex-direction: column;
}

.bar {
    background-color: black;
    padding: 1rem;
    display: flex;
    justify-content: space-between
}

a {
    text-decoration: none;
    margin: 0.5rem;
    color: whitesmoke;
}

.picBig {
    padding: 2rem;
    background-color: gray;
    height: 20rem;
    /* width: 100%; */
}

.picSmall {
    height: 10rem;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 1rem;
}

.postList {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.etcList {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.etc {
    margin-bottom: 1rem;
    background-color: whitesmoke;
    /* margin: 1rem; */
    padding: 2rem;
    width: 100%;
}

.post {
    margin-bottom: 1rem;
    background-color: whitesmoke;
    /* margin: 1rem; */
    padding: 2rem;
    width: 100%;
}

.footer {
    /* padding: 2rem; */
    background-color: gray;
    text-align: center;
}