.container {
    background-image: url("https://images.unsplash.com/photo-1562874724-b33411b38141?ixlib=rb-1.2.1&auto=format&fit=crop&w=2801&q=80");
    height: 100%;
    background-position: center;
    background-size: cover;
}

.textcenter {
    text-align: center;
}

body {
    margin: 0;
}

p {
    color: violet;
}

a {
    color: #4efced;
}