/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

.pyinput
    color #ed8e00

.error,.red
    color rgb(224,108,117)

.green
    color #1db35b

.line
    border-top .2rem solid $codeBgColor
